# Dependencies
node_modules

# Next.js
.next
out

# Build outputs
dist
.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Coverage
coverage

# Vercel
.vercel

# Environment files
.env
.env.*
!.env.example

# Firebase
serviceAccountKey.json
